[
    {"type": "SHELLY_PLUG", "name": "Plug 1", "plug_id": "shellyplug-s-80646F840029"},
    {"type": "SHELLY_PLUG", "name": "Plug 2", "plug_id": "shellyplug-s-C8C9A3B8E92E"},
    {"type": "SHELLY_PLUG", "name": "Plug 3", "plug_id": "shellyplug-s-80646F837D0F"}
    {"type": "SHELLY_PRO_3EM", "name": "Energy_meter", "device_id": "shellypro3em-34987a446e54"}
]